.page {
  display: flex;
  background-color: #101010;
}

.page__content {
  flex: 1;

  padding: 32px 40px 0;
  margin: 0 auto;
  margin-left: 258px; /* Matches the desktop sidebar max-width */
}

@media screen and (max-width: 1288px) {
  .page__content {
    margin-left: 113px; /* Matches the tablet sidebar max-width */
  }
}
